/* Importing Google fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#EFEFFF, #CCCBFF);
}

/* 
.swiper-wrapper {
  max-width: 1100px;

} */


.course-card {
  background: #fff;
  display: flex;
  height: auto;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.course-card .course-thumb {
  padding: 10px;
  position: relative;
  border-radius: 20px;
}


.course-thumb .badge {
  position: absolute;
  background-color: #fff;
  top: 46px;
  left: 41px;
  padding: 10px 15px;
  border-radius: 25px;
  color: #6366f1;
  font-size: 14px;
  font-weight: 400;
}

.course-thumb img {
  max-width: 100%;
  border-radius: inherit;

}

.course-content {
  padding: 10px 25px 25px;
}

.course-content .title {
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: 500;
}

.course-content .desc,
.user-profile .user-info .user-rol {
  max-width: 291px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #b1aeae;
}

.devidar {
  margin: 20px 0 10px;
  color: rgba(0, 0, 0, 0.8);
}

.course-card .course-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-meta .user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid white;
}

.user-profile .user-info .user-name {
  font-size: 17px;
  color: black;
  font-weight: 500;
}

.user-profile .user-info .user-rol {
  margin: 0;
}

.course-meta .read-btn {
  background-color: #8150e5;
  padding: 8px 15px;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: -90px;
  margin-right: -90px;
}

.pagination-wrapper i {
  position: relative;
  top: -254px;
  color: #6366f1;
  font-size: 50px;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  color: #635ae0;
}


/* .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  color: #635ae0;
} */